@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: rgba(0, 8, 17, 1);
}


/* Custom Font Classes */
.font-figtree {
    font-family: 'Figtree', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 34.69px;
    letter-spacing: -0.05em;

}

.fontFigtree{
  font-family: 'Figtree', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;

}

.font-poppins {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.48px;
    letter-spacing: -0.02em;
}

.font-poppins-medium{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21.48px;
}

.font-exo2 {
    font-family: 'Exo 2', sans-serif;
    font-size: 21.19px;
    font-weight: 500;
    line-height: 16.95px;
}

.font-montserrat-small {
    font-family: 'Montserrat', sans-serif;
    font-size: 11.89px;
    font-weight: 400;
    line-height: 19.5px;
}
